<div class="row">
    <div class="col-md-12">
        <h3 *ngIf="success" style="text-align: center;">
            <div class="text-center logo-alt-box ">
                <a class="logo" style="float: none;color: #3ec845;font-size: 24px;letter-spacing: .06em;line-height: 46px;">
                    <span>Fitness Application</span>
                </a>
            </div>
            <div class="m-t-30 card-box" style="margin-bottom: 20px;background-clip: padding-box;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;padding: 20px;background-color: #ffffff;box-shadow: 0 8px 42px 0 rgba(0, 0, 0, 0.08);">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Success !!</h4>
                </div>
                <div class="panel-body text-center m-t-10">
                    <img class="icon icons8-Star-Filled" src="../../../assets/images/Logo_tagline-03.png" width="200px" height="200px">
                <p class="text-muted font-13 m-t-20" style="color: #9a9da0"> 
                    Password is Reset And Sent To Your Email. Please
                    Check Your Inbox!
                </p>
                </div>
            </div>
            
        </h3>
    </div>
</div>


