  .ql-editor:focus {
    border: 1px solid #80bdff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  }

  .ng-invalid {
    border: 1px dashed red;
  }
  
  /* Set dropdown font-families */
  
  [quill-editor-toolbar] .ql-font span[data-label="Aref Ruqaa"]::before {
    font-family: "Aref Ruqaa";
  }
  
  [quill-editor-toolbar] .ql-font span[data-label="Mirza"]::before {
    font-family: "Mirza";
  }
  
  [quill-editor-toolbar] .ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
  }
  
  /* Set content font-families */
  
  .ql-font-mirza {
    font-family: "Mirza";
  }
  
  .ql-font-aref {
    font-family: "Aref Ruqaa";
  }
  
  .ql-font-roboto {
    font-family: "Roboto";
  }
  
  .radius{
    border-radius: 5px;
}

.todo-widget .todo-list .todo-item {
    padding: 5px 0px 0px 0px !important;
}



label {
    font-weight: 400;
}

.e-accordion .e-acrdn-item.e-expand-state.e-select {
    border-bottom: 1px solid rgb(177, 174, 174) !important;
    border-top: none !important;
}

.btn-info {
    width: 45%;
}

.btn-success {
  width: 45%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn1 {
  /* border: 1px solid gray; */
  /* color: gray; */
  background-color: white;
  /* padding: 8px 20px; */
  border-radius: 8px;
  font-size: 16px;
  /* font-weight: bold; */
}

.upload-btn-wrapper input[type=file] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.pointer{
  cursor: pointer;
}
.e-acrdn-item {
    border-bottom: 1px solid rgb(177, 174, 174) !important;
    border-top: none !important;
    box-shadow: 0px 1px 6px 2px #d6d6d6;
    border: none;
    border-radius: 5px;
}
.e-acrdn-item .e-acrdn-header{
 background-color: #141414 !important;
}
.e-acrdn-item .e-acrdn-header .e-acrdn-header-content,
.e-acrdn-item .e-acrdn-header .e-toggle-icon{
 color: #ffffff !important;
}

#acrdn_panel_11 .e-acrdn-content{
  text-align: center;
}