<div class="row">
    <div class="col col-3"></div>
    <div *ngIf="success" style="text-align: center;" class="col-md-6">
      <div class="text-center logo-alt-box ">
        <a class="logo" style="float: none;color: #3ec845;font-size: 24px;letter-spacing: .06em;line-height: 46px;">
            <span>Fitness Application</span>
        </a>
    </div>
    <div class="m-t-30 card-box" style="margin-bottom: 20px;background-clip: padding-box;-moz-border-radius: 5px;border-radius: 5px;-webkit-border-radius: 5px;padding: 20px;background-color: #ffffff;box-shadow: 0 8px 42px 0 rgba(0, 0, 0, 0.08);">
      <div class="text-center">
          <h4 class="text-uppercase font-bold m-b-0">Success !!</h4>
      </div>
      <div class="panel-body text-center m-t-5">
          <img class="icon icons8-Star-Filled" src="../../../assets/images/Logo_tagline-03.png" width="200px" height="200px">
      <p class="text-muted font-13 m-t-20" style="color: #9a9da0"> 
             
        Thank You for verifying your email address.
        You may close this window and login to Fitness Application.
        If you have any questions or concerns, feel free to contact.  
          </p>
      </div>
  </div>
    </div>
    <div class="col col-3"></div>
</div>

